.homeWork_1, .homeWork_2, .homeWork_3, .homeWork_4, .homeWork_6, .homeWork_7, .homeWork_8, .homeWork_9, .homeWork_10 {
    background: linear-gradient(90deg, #f598a8, #f6edb2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.homeWork_2, .homeWork_8 {
    background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
}

.homeWork_3, .homeWork_9 {
    background: linear-gradient(135deg, #5fc3e4 0%, #e55d87 100%);
}

.homeWork_4, homeWork_10 {
    background: linear-gradient(90deg, #f6edb2, #f598a8);
}

.homeWork_6 {
    background: linear-gradient(90deg, #f5abd7, #59c4cd);
}




.stand {
    padding: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    flex-direction: column;

}

.title {
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 1.2em;
    margin: 0;
    line-height: 2em;
    font-weight: bold;
    color: #5c5c5c;
    margin-right: 40px;
}

.title.header {
    margin-left: 40px;
}

.header {
    padding-top: 10px;
    background-color: #ebebeb;
}