.level {
    position: relative;
    margin: 5px 0 15px 40px;
}

.level ul {
    margin-top: 0;
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: stretch;
    width: 150px;
    background: #C6DDF4;
    left: 0;
    top:60px;
    list-style: none;
    padding: 0;
    text-align: center;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.4);
}


.level a {
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #5c5c5c;
    text-decoration: none;
    display: block;
    padding: 10px 5px;
    transition: all 0.5s ease;
}

.level a:hover {
    background-color: #007FFF;
    transition: all 0.5s ease;

}


.enter {
    opacity: 0;
    transform: translateY(-25px);
}

.enterActive {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
}

.exit {
    opacity: 1;
}

.exitActive {
    opacity: 0;
    transform: translateY(-25px);
    transition: opacity 500ms, transform 500ms;
}